<div class="dashboard-topbar">
  <div class="row">

    <div class="col-12">
      <div id="dropdown_box">
        <ul>
          <%= content_tag :li, link_to(fa_icon('user-circle', text: 'My profile'), user_path(current_user)) %>
          <%= content_tag :li, link_to(fa_icon('gear', text: 'Edit account'), edit_user_registration_path) %>
          <%= content_tag :li, link_to(fa_icon('unlock', text: 'Log out'), destroy_user_session_path, method: :delete) %>
        </ul>
      </div>
      <%= link_to fa_icon('chevron-down', text: current_user.name, right: true), '#', class: 'float-right', id: 'show_box' %>
    </div>

  </div>
</div>
