<div class="dashboard-topbar">
  <div class="row">

    <div class="col-12">
      <div id="dropdown_box">
        <ul>
          <li>
            <%= link_to fa_icon('gear', text: 'Settings'), edit_user_registration_path %>
          </li>
          <li>
            <%= link_to fa_icon('unlock', text: 'Log out'), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
      <%= link_to fa_icon('chevron-down', text: current_user.name, right: true), '#', class: 'float-right', id: 'show_box' %>
    </div>

  </div>
</div>
