<div class="dashboard-topbar">
  <div class="row">

    <div class="col-7">

    </div>

    <div class="col-5">
      <div id="dropdown_box">
        Hide and show this box!
      </div>
      <%= link_to fa_icon('chevron-down', text: 'Something', right: true), '#', id: 'show_box' %>
    </div>

  </div>
</div>
