<div class="dashboard-topbar">
  <div class="row">

    <div class="col-12">
      <div id="dropdown_box">
        Hide and show this box!
        <br />
        More text here
        <br />
        More text here
        <br />
        More text here
      </div>
      <%= link_to fa_icon('chevron-down', text: current_user.name, right: true), '#', class: 'float-right', id: 'show_box' %>
    </div>

  </div>
</div>
