<% title('Add listing') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= fa_icon('plus', text: 'Add listing') %></h1>
    <%= render 'form', listing: @listing %>
  </div>
</div>
