<% title(@listing.name) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= @listing.name %></h1>
    <p>Find me in app/views/listings/show.html.erb</p>
    <strong>Type:</strong> <%= @listing.property_type %>
  </div>
</div>
