<% title('Edit ad') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <h1><%= fa_icon('pencil', text: 'Edit ad') %></h1>
        <%= render 'form', advertisement: @advertisement %>
      </div>
    </div>
  </div>
</div>
