<% title t('.title') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1><%= fa_icon('address-card', text: t('.title')) %></h1>
      </div>
    </div>

    <div class="row">
      <% if @advertisements.present? %>
        <% @advertisements.each do |ad| %>
          <%= render 'card', ad: ad %>
        <% end %>
      <% else %>
        <div class="col">
          <div id="no-ads"><%= t('.none') %></div>
        </div>
      <% end %>
    </div>

  </div>
</div>
