<% title('Roommate ads') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1><%= fa_icon('address-card', text: 'Roommate ads') %></h1>
      </div>
    </div>

    <div class="row">
      <% @advertisements.each do |ad| %>
        <%= render 'card', ad: ad %>
      <% end %>
    </div>
    
  </div>
</div>
