<% title('My ads') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <h1><%= fa_icon('file-text-o', text: 'My ads') %></h1>

    <div class="row">
      <% @advertisements.each do |ad| %>
        <%= render 'card', ad: ad %>
      <% end %>
    </div>

  </div>
</div>
