<% title('Create ad') %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <h1><%= fa_icon('pencil-square-o', text: 'Create ad') %></h1>
        <%= render 'form', advertisement: @advertisement %>
      </div>
    </div>
  </div>
</div>
