<% title(@advertisement.title) %>

<div class="dashboard-main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h4><%= @advertisement.title %></h4>
        <%= @advertisement.body %>
      </div>
    </div>
  </div>
</div>
