<section class="how-it-works">

  <h2 class="text-center blue">3 steps to finding your next accommodation</h2>

  <div class="timeline">
    <div class="timeline-string">
      <div class="container">
        <div class="row text-center point reverse">
          <div class="dot"></div>
          <div class="col">
            <h4 class="magenta">Sign up</h4>
            <p>
              Create a new account with <%= t('website') %>.
            </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

        <div class="row text-center point reverse">
          <div class="dot"></div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
          <div class="col">
            <h4 class="magenta">Register your preferences</h4>
            <p>
              Search apartments by map or by criteria.
              If you are looking for roommates, search for others who are also in search of a roommate and pair up.
            </p>
          </div>
        </div>

        <div class="row text-center point reverse">
          <div class="dot"></div>
          <div class="col">
            <h4 class="magenta">Find an accommodation</h4>
            <p>
              Get in touch with a landlord. Alternatively, get matched with potential roommates who fit your criteria.
            </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
