<section class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Why use <%= t 'website' %></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Some fancy image
      </div>

      <div class="col">
        <div class="row">
          Because 1
        </div>
        <div class="row">
          Because 2
        </div>
        <div class="row">
          Because 3
        </div>
      </div>

    </div>
  </div>
</section>
