<section class="gray-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">Why use <%= t 'website' %></h2>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col">
        <p>
          Finding housing in South Korea can be a daunting task for people coming from abroad.
        </p>
        <p>
          While there are many websites for finding hostels and hotels, there is no definitive resource to find a more permanent abode.
          People who are working in Korean companies or teaching at English academies and schools will often benefit from being able to
          rely on their company to provide an accommodation. But not everyone has this luxury.
        </p>
        <p>
          <%= t('website') %> strives to make finding a place to stay in South Korea a breeze.
        </p>
        <p>
          We hope you enjoy your stay!
        </p>
      </div>
    </div>

    </div>
  </div>
</section>
