<section class="hero-header">
  <div class="container">
    <h1 class="text-center website-name"><%= t 'website' %></h1>
    <h2 class="text-center">
      <span class="typed-element"></span>
    </h2>
  </div>
</section>

<%= render 'how' %>
<%= render 'why' %>
<%= render 'subscribe' %>
