<section class="hero-header">
  <div class="container">
    <h1 class="text-center"><%= t 'website' %></h1>
    <h2 class="text-center">The easiest way to find
      <span class="typed-element"></span>
    </h2>
  </div>
</section>

<section class="how-it-works">

  <h2 class="text-center blue">3 steps to finding a roommate</h2>

  <div class="timeline">
    <div class="timeline-string">
      <div class="container">
        <div class="row text-center point reverse">
          <div class="dot"></div>
          <div class="col">
            <h4 class="magenta">Sign up</h4>
            <p>
              Create a new account with Salayo.
            </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

        <div class="row text-center point reverse">
          <div class="dot"></div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
          <div class="col">
            <h4 class="magenta">Register your preferences</h4>
            <p>
              Tell us what kind of roommate you are looking for. Also specify
              details about yourself so others can find you more easily.
            </p>
          </div>
        </div>

        <div class="row text-center point reverse">
          <div class="dot"></div>
          <div class="col">
            <h4 class="magenta">Find a roommate</h4>
            <p>
              Get matched with potential roommates who fit your criteria.
            </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<%= render 'register' %>
