<section class="hero-header">
  <div class="container">
    <h1 class="text-center"><%= t 'website' %></h1>
    <h2 class="text-center">Find me in app/views/welcome/index.html.erb</h2>
  </div>
</section>

<section class="how-it-works">

  <h2 class="text-center">How it works</h2>

  <div class="timeline">
    <div class="timeline-string">
      <div class="container">
        <div class="row text-center point reverse">
          <div class="dot"></div>
            <div class="col">
              <h4>Some title</h4>
              <p>
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
              </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

        <div class="row text-center point reverse">
          <div class="dot"></div>
            <div class="col">
              <h4>Some title</h4>
              <p>
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
              </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

        <div class="row text-center point reverse">
          <div class="dot"></div>
            <div class="col">
              <h4>Some title</h4>
              <p>
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
                With a paragraph explaining what this is all about.
              </p>
          </div>
          <div class="col">
            <p>
              Col
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="gray-section">
  <div class="container">
      <div class="row">
        <div class="col">
          <p>
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
            Some gray area<br />
          </p>
        </div>
      </div>
  </div>
</section>
