<% title('Admin Lounge') %>

<div class="dashboard-main-content">

  <div class="container-fluid">
    <h1>Admin Lounge</h1>
    <p>Find me in app/views/admin/application/index.html.erb</p>
  </div>
</div>
