<div class="container top-padded">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Subscriptions</h1>
      <% @subscriptions.each do |subscription| %>
        <p>
          <%= subscription.email %>
        </p>
      <% end %>
    </div>
  </div>
</div>
