body {
  font-family: 'ABeeZee', "Open Sans", sans-serif;
}

footer {
  padding: $padding;
  background-color: #212121;
  color: #DADADA;
  a {
    color: #DADADA;
    &:hover {
      color: white;
    }
  }
}

// Bootstrap overrides
.btn {
  cursor: pointer;
}
.login {
  background-color: $body-gray;
  padding-bottom: 3em;
}
.login-container {
  padding: 2em;
  border-radius: 6px;
  background-color: #fff;
}
.forgot-password {
  float: right;
  margin-top: 0.48em;
}
