body {
  font-family: 'ABeeZee', "Open Sans", sans-serif;
}

footer {
  padding: $padding;
  background-color: #212121;
  color: $footer-link;
  ul {
    @include media-breakpoint-up(sm) { padding: 0; }
    li {
      list-style: none;
      margin-top: 12px;
    }
  }
  a {
    color: $footer-link;
    display: block;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

#logo {
  padding: 4px 9px 0 0;
}

// Bootstrap overrides
.login {
  background-color: $body-gray;
  padding-bottom: 3em;
}
.login-container {
  padding: 2em;
  border-radius: 6px;
  background-color: #fff;
}
.forgot-password {
  float: right;
  margin-top: 0.48em;
}
