body {
  font-family: 'ABeeZee', "Open Sans", sans-serif;
}

footer {
  padding: $padding;
  background-color: #212121;
  color: $footer-link;
  ul {
    @include media-breakpoint-up(sm) { padding: 0; }
    li {
      list-style: none;
      margin-top: 12px;
    }
  }
  a {
    color: $footer-link;
    display: block;
    &:hover {
      text-decoration: none;
      color: white;
    }
  }
}

[v-cloak] { display: none; }

#logo {
  padding: 4px 9px 0 0;
}

#remember_me, #forgot_password, #reset_password {
  margin-top: 2em;
}

// Bootstrap overrides
a {
  color: $btn-primary-blue;
  &:hover { color: $blue; }
}

.login, .sign_up, .forgot_password {
  background-color: $body-gray;
  padding-bottom: 3em;
}
.login-container, .sign_up_container, .forgot_password_container {
  padding: 2em;
  border-radius: 6px;
  background-color: white;
}

// For Vue.js transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
