.btn {
  cursor: pointer;
}
.btn-primary {
  background-color: $btn-primary-blue;
  border: 0;
  &:hover {
    background-color: $blue;
  }
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border: 1px solid #ccc;
  &:hover {
    color: #292b2c;
    background-color: $body-gray;
    border: 1px solid #ccc;
  }
  margin-bottom: 10px;
  &:disabled {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
  }
}
