.column-layout {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: table;
}

@mixin column-layout-mixin() {
  height: 100%;
  max-height: 100vh;
  overflow-y: auto;
  position: relative;
  display: table-cell;
  transform: none;
  top: 0;
  transition: transform ease .5s;
  vertical-align: top;
  z-index: 3;
}

@mixin dashboard-blue-links {
  transition: color .2s ease-in-out;
  &:hover {
    color: $baby-blue;
    text-decoration: none;
  }
}

.column-layout-left {
  @include column-layout-mixin;
  color: #f2f5f7;
  width: 264px;
  background-color: $dashboard-sidebar-bg;
  
  .nav-link {
    padding: 1em 2em;
    border-left: 3px solid $dashboard-sidebar-bg;
  }

  .active {
    color: $baby-blue;
    border-left: 3px solid $baby-blue;
    background-color: $dark-blue;
  }
  a {
    color: #f2f5f7;
    @include dashboard-blue-links;
  }
}
.column-layout-right {
  @include column-layout-mixin;
  background-color: $body-gray;
}

.dashboard-topbar {
  position: relative;
  background-color: #FFFFFF;
  .row {
    margin-right: 0;
  }
  a {
    color: $dark-blue;
    display: block;
    padding: 1em 2em;
    @include dashboard-blue-links;
  }
}

.dashboard-main-content {
  margin-top: 1.25em;

  h1, h2, h3, h4, h5 {
    color: $dark-blue;
  }
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

#dropdown_box {
  @include dashboard-shadow;
  border-radius: 3px;
  margin: 12px;
  position: absolute;
  right: 0;
  width: 200px;
  padding: 8px;
  background-color: white;
  border: 0 solid $body-gray;
  display: none;
  z-index: 1;
  ul {margin: 0; padding: 0;}
  li {
    list-style: none;
    &:hover {
      background-color: $body-gray;
    }
  }
}
