@mixin validation-cues() {
  background-repeat: no-repeat;
  background-size: 1.125rem 1.125rem;
  background-position: center right 1.5em;
}
.checkmark {
  @include validation-cues;
  background-image: image-url('checkmark.svg');
}

.required-field {
  &:after {
    content: '*';
    color: $pastel-red;
    margin-left: 0.25rem;
  }
}
