// Grid styling:
$padding: 60px 0px;

// Colors:
$blue: #02b3e4;
$magenta: #ff5483;
$body-gray: #f7f7f7;

$baby-blue: #00B9FF;
$dark-blue: #2E4369;

.blue {
  color: $blue;
}
.white {
  color: white;
}
.magenta {
  color: $magenta;
}
