// Grid styling:
$padding: 60px 0px;

// Colors:
$blue: #02B3E4;
$magenta: #FF5483;
$body-gray: #F7F7F7;
$footer-link: #DADADA;

$baby-blue: #00B9FF;
$dark-blue: #2E4369;
$dashboard-sidebar-bg: #37517E;

$pastel-yellow: #fce181;
$pastel-blue: #81dafc;
$pastel-red: #fc819d;

.blue {
  color: $blue;
}
.white {
  color: white;
}
.magenta {
  color: $magenta;
}

@mixin dashboard-shadow {
  -webkit-box-shadow: 0px 5px 20px -12px rgba(157,170,179,0.73);
  -moz-box-shadow: 0px 5px 20px -12px rgba(157,170,179,0.73);
  box-shadow: 0px 5px 20px -12px rgba(157,170,179,0.73);
}
