// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-header {
  background-image: linear-gradient(138deg, #4FC3F7 0%, #27D3DD 60%, #00E3C3 100%);
  padding: 150px 0px;
  h1, h2 {
    color: white;
  }
}

.top-padded {
  padding-top: 100px;
}

.gray-section {
  padding: $padding;
  background-color: $body-gray;
  @include media-breakpoint-down(sm) { padding: 60px 2.5em; }
}

.gray-tiles-section {
  padding: $padding;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: image-url('gray-hexagons.svg');
}

@mixin nav-transition($ease) {
  -webkit-transition: all $ease ease-in-out;
  -moz-transition: all $ease ease-in-out;
  -o-transition: all $ease ease-in-out;
  -ms-transition: all $ease ease-in-out;
  transition: all $ease ease-in-out;
}

.salayo-nav {
  -webkit-box-shadow: 0 0 1px rgba(0,65,94,0.2);
  -moz-box-shadow: 0 0 1px rgba(0,65,94,0.2);
  box-shadow: 0 0 1px rgba(0,65,94,0.2);
  @include nav-transition(0.4s);
  position: fixed;
  height: 56px;
  width: 100%;
  background-color: white;
  padding: 0 !important;
  .navbar-item {
    line-height: 40px;
  }
  .navbar-brand, .navbar-link { padding: 0.5rem 1rem; }
  .navbar-link {
    display: inline-block;
    color: black;
  }
  ul {
    margin: 0;
    list-style: none;
    display: inherit;
    a {
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.transparent {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  .navbar-brand {
    color: white;
  }
  .navbar-link {
    color: white;
  }
  ul {
    li {
      a {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.how-it-works, #s_form {
  padding: $padding;
}

.timeline-sm {
  @include media-breakpoint-up(md) { display: none; }
  background-color: white;
  position: relative;
  p {
    margin: 0 2em 1em 2em;
  }
  .row {
    padding: 30px 0px;
  }
}
.timeline {
  @include media-breakpoint-down(sm) { display: none; }
  background-color: white;
  position: relative;
  margin: 60px 0px;
  p {
    margin: 0 2em 1em 2em;
  }
  .row {
    padding: $padding;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  .point {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .timeline-string {
    &:before {
      background: #90A4AE;
      bottom: 0;
      content: "";
      left: 50%;
      margin-left: -0.5px;
      position: absolute;
      right: 50%;
      top: 0;
      width: 1px;
    }
  }
  .dot {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #90A4AE;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

#s_form {
  .alert {
    margin-top: 2em;
  }
}

.pill {
  margin: 3em 0 1em 0;
  padding: 1.5em;
  background-color: $btn-primary-blue;
  border-radius: 3em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
  color: white;
  @include nav-transition(0.4s);
  &:hover {
    background-color: $blue;
  }
  .form-control {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    letter-spacing: 1px;
  }
  .form-control {
    color: white;
    &::placeholder {
      color: white;
      opacity: 0.5;
    }
  }
  .pill-btn {
    cursor: pointer;
    position: absolute;
    right: 1em;
    border: 2px solid white;
    border-radius: 2em;
    color: white;
    background-color: transparent;
    padding: 5px 15px;
  }
}
