<% title('Subscriptions') %>

<div class="dashboard-main-content">

  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <h1><%= fa_icon('check', text: 'Subscriptions') %></h1>
        <% @subscriptions.each do |subscription| %>
          <ul>
            <li><%= subscription.email %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
