<% if obj.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Oops! There seems to be a problem:</h4>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
