<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <p><%= copyright %></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <p><%= link_to 'Contact', new_message_path %></p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p>Some footer content</p>
      </div>
    </div>
  </div>
</footer>
