<% if obj.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <strong>Oops! There seems to have been a problem</strong>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
