<% {
  notice: {
    type: 'success',
    msg: 'Excellent!'
  },
  success: {
    type: 'success',
    msg: 'Success!'
  },
  info: {
    type: 'info',
    msg: 'Heads up!'
  },
  warning: {
    type: 'warning',
    msg: 'Warning!'
  },
  alert: {
    type: 'danger',
    msg: 'Error:'
  },
  danger: {
    type: 'danger',
    msg: 'Oops!'
  }
}.each do |key, val| %>
  <% if flash[key].present? %>
    <div class="alert alert-<%= val[:type] %> alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong><%= val[:msg] %></strong>
      <%= flash[key] %>
    </div>
  <% end %>
<% end %>
