<nav class="navbar sticky-top navbar-light bg-faded salayo-nav transparent">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <%= t 'website' %>
    </a>
  </div>
</nav>
